.request-handler-main-container {
  background: #f6f5ff;
  padding: 50px 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.request-handler-main-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  width: 100%;
  margin-top: 48px;
}

.request-handler-main-container-header {
  color: var(--Primary--TXT, #262626);

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 112.5% */
  letter-spacing: -0.16px;
}

.request-handler-main-container-content {
  color: #616161;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.04px;
  width: 70%;
}

.request-handler-main-container-left {
  width: 50%;
  max-width: calc(100% - 630px);
  height: 100%;
}
.request-handler-main-container-right {
  width: 50%;
  min-width: 630px;
  min-height: 550px;
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08),
    0px 1px 4px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.request-handler-main-container-right-heading {
  color: #262626;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  letter-spacing: -0.12px;
  text-align: left;
}

.request-handler-main-container-right-text {
  color: #494949;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.request-demo-new-form > div {
  gap: 20px;
  padding-top: 16px;
}

.request-demo-single-label {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.request-demo-single-label p {
  color: #242424;
  /* Body Big */

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.request-demo-single-label input,
.request-demo-single-label select {
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  padding: 10px 8px;
  outline: none;
  width: 100%;
  color: #242424;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.request-demo-single-label textarea {
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  padding: 10px 8px;
  outline: none;
  height: 70px;
  resize: none;
  color: #242424;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.request-demo-single-label .color-red {
  color: var(--Error, #f64c4c);

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
}
.request-handler-main-container-ref {
  position: absolute;
  top: -250px;
  visibility: hidden;
}

@media only screen and (max-width: 800px) {
  .request-handler-main-container-ref {
    position: absolute;
    top: -80px;
  }
  .request-handler-main-container {
    padding: 20px;
  }
  .request-handler-main-container-header {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.08px;
  }
  .request-handler-main-container-content {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.03px;
    margin-top: 8px;
    width: 100%;
  }
  .request-handler-main-container-inner {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  .request-handler-main-container-left {
    width: 100%;
    max-width: 100%;
  }
  .request-handler-main-container-right {
    width: 100%;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .request-handler-main-container-right-heading {
    font-size: 16px;
    line-height: 21px; /* 131.25% */
    letter-spacing: -0.08px;
  }
  .request-demo-new-form > div {
    gap: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
  }
  .request-demo-single-label {
    width: 100%;
  }
  .request-demo-single-label p {
    font-weight: 500;
  }
  .request-demo-single-label input,
  .request-demo-single-label select {
    margin-top: 6px;
  }
}
